;; -*- mode: emacs-lisp; coding: emacs-mule; -*-
;; --------------------------------------------------------------------------
;; Desktop File for Emacs
;; --------------------------------------------------------------------------
;; Created Thu Feb 10 13:43:29 2011
;; Desktop file format version 206
;; Emacs version 23.2.1

;; Global section:
(setq desktop-missing-file-warning nil)
(setq tags-file-name nil)
(setq tags-table-list nil)
(setq search-ring '("print_" "add_" "set_pr" "add_property"))
(setq regexp-search-ring nil)
(setq register-alist nil)
(setq file-name-history '("~/Desktop/dfu_programmer_install/m_to_host/" "~/senior-design-git/" "~/ujb-projects/c/storque_proto/" "~/Desktop/dfu_programmer_install/" "~/Desktop/C_test/" "~/senior-design-git/embedded/" "~/ujb-projects/c/storque_proto/hetero_container_struct.c" "~/ujb-projects/c/storque_proto/hetero_container_struct" "~/ujb-projects/c/storque_proto/hetero_container_struct.c" "~/ujb-projects/c/funz/tests/struct_function_test.c" "~/ujb-projects/c/storque_proto/hetero_container.c" "~/.emacs" "~/ujb-projects/c/storque_proto/hetero_container_wrapped.cpp" "~/ujb-projects/c/storque_proto/deprecated/template_tester.cpp" "~/ujb-projects/c/storque_proto/hetero_conttasks_template_test.cpp" "~/ujb-projects/c/storque_proto/hetero_container_wrapped.c" "~/ujb-projects/c/storque_proto/hetero_container.c" "~/ujb-projects/c/storque_proto/template_tester.cpp"))

;; Buffer section -- buffers listed in same order as in buffer list:
(desktop-create-buffer 206
  "/Users/Uriah/Desktop/dfu_programmer_install/m_to_host/main.c"
  "main.c"
  'c-mode
  '(abbrev-mode linum-mode ede-minor-mode senator-minor-mode semantic-idle-scheduler-mode semantic-idle-summary-mode semantic-mru-bookmark-mode)
  2801
  '(1 nil)
  nil
  nil
  '((buffer-file-coding-system . undecided-unix)))

(desktop-create-buffer 206
  "/Users/Uriah/ujb-projects/c/storque_proto/deprecated/tasks_template_test.cpp"
  "tasks_template_test.cpp"
  'c++-mode
  '(abbrev-mode linum-mode ede-minor-mode senator-minor-mode semantic-idle-scheduler-mode semantic-idle-summary-mode semantic-mru-bookmark-mode)
  1
  '(nil nil)
  nil
  nil
  '((buffer-file-coding-system . undecided-unix)))

(desktop-create-buffer 206
  nil
  "deprecated"
  'dired-mode
  '(linum-mode)
  804
  '(nil nil)
  t
  '("/Users/Uriah/ujb-projects/c/storque_proto/deprecated/")
  nil)

(desktop-create-buffer 206
  nil
  "storque_proto"
  'dired-mode
  '(linum-mode)
  302
  '(nil nil)
  t
  '("/Users/Uriah/ujb-projects/c/storque_proto/")
  nil)

(desktop-create-buffer 206
  "/Users/Uriah/ujb-projects/c/storque_proto/hetero_container.c"
  "hetero_container.c"
  'c-mode
  '(abbrev-mode linum-mode ede-minor-mode senator-minor-mode semantic-idle-scheduler-mode semantic-idle-summary-mode semantic-mru-bookmark-mode)
  2177
  '(2707 nil)
  nil
  nil
  '((buffer-file-coding-system . undecided-unix)))

(desktop-create-buffer 206
  nil
  "m_to_host"
  'dired-mode
  '(linum-mode)
  692
  '(nil nil)
  t
  '("/Users/Uriah/Desktop/dfu_programmer_install/m_to_host/")
  nil)

(desktop-create-buffer 206
  nil
  "dfu_programmer_install"
  'dired-mode
  '(linum-mode)
  701
  '(nil nil)
  t
  '("/Users/Uriah/Desktop/dfu_programmer_install/")
  nil)

(desktop-create-buffer 206
  nil
  "C_test"
  'dired-mode
  '(linum-mode)
  721
  '(nil nil)
  t
  '("/Users/Uriah/Desktop/C_test/")
  nil)

(desktop-create-buffer 206
  "/Users/Uriah/ujb-projects/c/funz/tests/struct_function_test.c"
  "struct_function_test.c"
  'c-mode
  '(abbrev-mode linum-mode ede-minor-mode senator-minor-mode semantic-idle-scheduler-mode semantic-idle-summary-mode semantic-mru-bookmark-mode)
  574
  '(341 nil)
  nil
  nil
  '((buffer-file-coding-system . utf-8-unix)))

(desktop-create-buffer 206
  "/Users/Uriah/ujb-projects/c/storque_proto/hetero_container_struct.c"
  "hetero_container_struct.c"
  'c-mode
  '(abbrev-mode linum-mode ede-minor-mode senator-minor-mode semantic-idle-scheduler-mode semantic-idle-summary-mode semantic-mru-bookmark-mode)
  2150
  '(2030 nil)
  nil
  nil
  '((buffer-file-coding-system . undecided-unix)))

